* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.horizon-flex-ul {
    display: flex;
    gap: 5px;
}

.inline {
    display: inline;
}

/* BODY */
.container {
    background: #add8e6;
    margin: 10px 8px;
    border: 2px solid #008080;
    padding: 15px 10px;
}

/* MAIN SECTION */
.hero {
    color: #fff;
}

/* HEADER */
header {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > h1 {
    margin-bottom: 6px;
    font-style: italic;
}



/* ABOUT SECTION */
.about {
    margin-top: 6px 0;
}


/* FOOTER SECTION */
footer > nav {
    display: flex;
    justify-content: center;
}