* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.horizon-flex-ul {
    display: flex;
    gap: 5px;
}

.inline-block {
    display: inline;
}

p {
    text-align: left;
}

/* BODY */
.container {
    background: #add8e6;
    height: 600px;
    margin: 10px 8px;
    border: 2px solid #008080;
    padding: 15px 10px;
    overflow: auto;
}

/* MAIN SECTION */
.hero {
    color: #fff;
}

/* HEADER */
header {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > h1 {
    margin-bottom: 6px;
    font-style: italic;
}


div > h2 {
    margin-top: 6px;
}

/* ABOUT SECTION */
.about {
    margin: 6px 0;
    display: flex;
    /* flex-wrap: wrap; */
}

.about p:last-child {
    flex: 1;
}

.about img {
    /* float: right; */
    margin: 1em;
}

/* FOOTER SECTION */
footer > nav {
    display: flex;
    justify-content: center;
}