/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  /* padding: 0 10%; */
  max-width: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-size: 62.5%; */   /* This is equivalent to 10px */
  font-size: 65%;
}

.container {
  height: auto;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-size: 1.5rem; */
}

h1, 
h2 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  text-transform: uppercase;
}

p, 
span {
  margin-bottom: 1.5rem;
}

/******************************************
/* LAYOUT
/*******************************************/
/* HEADER */
header {
  padding: 0 4rem;
  background: #708090;
  color: #fff;
}

header ul {
  display: flex;
  list-style: none;
  row-gap: 4px;
  /* justify-content: center; */
}

header .logo {
  flex: 3;
  text-align: center;
}

/* HERO SECTION */
.hero {
  background: #708090;
  color: #fff;
}

/* PARTNER SECTION */
.partner {
  background: #8080808d;
  color: #000;
  flex-direction: row;
  gap: 6px;
}

.partner-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.partner-sec img {
  display: inline-block;
}

/* FOOTER */
footer {
  padding: 0 4rem;

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
button {
  display: inline-block;
  border: 1px solid black;
  padding: 5px 8px;
}

.white-bg {
  background: #fff;
  color: #000;
}