* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid grey;
    height: 120px;
}

html {
    border: none;
}

header {
    width: 100%;
}

main {
    display: flex;
    height: auto;
}

main > * {
    flex: 1;
    height: 250px;
}

.large-section {
    flex: 2;
}

footer {
    width: 100%;
}